@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-background: 255 255 255;
  --col-surface: 195 225 236;
  --col-overlay: 218 232 237;
  --col-muted: 79 89 99;
  --col-subtle: 42 54 60;
  --col-fg: 27 35 38;
  --col-accent: 200 243 233;
  --col-accent-fg: 35 39 41;
  --col-primary: 43 58 64;
  --col-primary-fg: 231 235 235;
  --col-secondary: 219 80 61;
  --col-secondary-fg: 39 16 14;
  --col-destructive: 179 0 0;
  --col-destructive-fg: 235 186 186;
  --col-border: 200 243 233;
}

.dark {
  --col-background: 14 35 58;
  --col-surface: 35 52 66;
  --col-overlay: 55 72 85;
  --col-muted: 184 184 184;
  --col-subtle: 224 224 224;
  --col-fg: 245 245 245;
  --col-accent: 71 108 141;
  --col-accent-fg: 255 255 255;
  --col-primary: 129 167 180;
  --col-primary-fg: 10 19 21;
  --col-secondary: 219 80 61;
  --col-secondary-fg: 39 16 14;
  --col-destructive: 179 0 0;
  --col-destructive-fg: 235 186 186;
  --col-border: 35 52 66;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-fg;
  }
}
